/mainPage/node_modules
/mainPage/public/hot
/mainPage/public/storage
/mainPage/storage/*.key
/mainPage/vendor
/mainPage/.env
/mainPage/.env.backup
/mainPage/.phpunit.result.cache
/mainPage/docker-compose.override.yml
/mainPage/Homestead.json
/mainPage/Homestead.yaml
/mainPage/npm-debug.log
/mainPage/yarn-error.log

/redirectPage/node_modules
/redirectPage/public/hot
/redirectPage/public/storage
/redirectPage/storage/*.key
/redirectPage/vendor
/redirectPage/.env
/redirectPage/.env.backup
/redirectPage/.phpunit.result.cache
/redirectPage/docker-compose.override.yml
/redirectPage/Homestead.json
/redirectPage/Homestead.yaml
/redirectPage/npm-debug.log
/redirectPage/yarn-error.log

/.idea
/.vscode
